body {
	width:985px;
	margin:0 auto;
}

button {

	width:100px;
	height:50px;
	border:0px;
	cursor:pointer;
}

.text {
	text-align:center;
}

.text1 {
	text-align:start;
}


.text2 {
	width:150px;
	margin:0 auto;
}

.divcss5-left {
	float:left;

}
.divcss5-right {
	float:right;
}

.clear {
	clear:both;
}
